.grid-container-forgot-password {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  margin-top: 150px;

  .forgot-password-form-container {
    text-align: center;
    background-color: #ffffff;
    margin: 2% auto 5% auto; /* 5% from the top, 5% from the bottom and centered */
    padding: 3%;
    border-radius: 10px;

    .forgot-password-grid-item {
      text-align: left;
      margin-bottom: 10%;
    }
  }
}
