.grid-container-login {
  @include grid-layout;

  .form-container-login {
    @include form-layout;
    @include center;
    height: 400px;

    input[type="text"],
    input[type="password"] {
      @include input-fields;
    }

    #error_message {
      color: red;
      text-align: center;
    }

    #forgotpass {
      text-align: right;
      padding-right: 25px;
      margin: 5px 0 0 0;
    }

    .login-grid-item {
      text-align: left;
      padding: 10px 0 10px 15px;
    }
  }
}
/*@media only screen and (max-width: 600px) {
  .account-form-content {
    width: 80%;
    margin-top: 10%;
  }
  .grid-container-account-form {
    button {
      width: 50%;
      margin: 10px 0 0 0;
    }
    #forgot-pass {
      text-align: center;
      padding: 10px 0 10px 0;
    }
  }
}
*/
