<div class="container-fluid h-100" id="form-card">
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="d-flex flex-column card " style="width: 23.5em; ">
            <div class="card-body">
                <form action="/reset/" method="POST">
                    <h1 class="text-center">Reset your Password</h1>
                    {{#if flashMessage}}
                    <div id="error_message">{{flashMessage}}</div>
                    {{/if}}
                    <div class="form-group">
                        <label for="psw">
                            <b>New Password</b>
                        </label>
                        <input type="password" class="form-control" placeholder="Yuta123" name="password" minlength="8" required>
                    </div>
                    <div class="form-group">
                        <label for="psw2">
                            <b>Confirm Password</b>
                        </label>
                        <input type="password" class="form-control" placeholder="Yuta123" name="password" minlength="8" required>
                    </div>
                    <div class="text-center">
                        <button class="submit-button " type="submit ">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>