<div style="padding: 2%;">
    <h1>Upcoming</h1>
    <hr>
</div>
<div class="grid-container-down">
    <div class="card">
        <div class="card-container">
            <h2>
                <b>Fortnite</b>
            </h2>
            <p>@8pm today</p>
            <div class="pfp">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-container">
            <h2>
                <b>Fortnite</b>
            </h2>
            <p>@8pm today</p>
            <div class="pfp">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-container">
            <h2>
                <b>Fortnite</b>
            </h2>
            <p>@8pm today</p>
            <div class="pfp">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
    </div>
</div>