<div class="grid-container-card">
    <div id="grid-item-card" class="card">
        <div class="card-container">
            <h2>
                <b>Fortnite</b>
            </h2>
            <p>@8pm today</p>
            <div class="pfp">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
    </div>
    <div id="grid-item-card" class="card">
        <div class="card-container">
            <h2>
                <b>Fortnite</b>
            </h2>
            <p>@8pm today</p>
            <div class="pfp">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
    </div>
</div>