<div id="event_list" class="container col-10">
    <h1 class="display-4">Events</h1>
    <hr class="my-2">
    <div class="container">
        <div>
            <div id="fortnite_card" class="card bg-dark text-white">
                <img id="fortnite_image" class="card-img" src="images/fortnite.jpg" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Fortnite</h5>
                    <p class="card-text">@8pm today</p>
                    <div style="font-size: 12px;">
                        <p class="card-text">6 - Going</p>
                        <p class="card-text">3 - Undecided</p>
                        <p class="card-text">1 - Not Going</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>