<link rel="stylesheet" type="text/css" href="/styles/card.css">
<div class="container">
    <div class="flex-container">
        <div class="card">
            <div class="card_container">
                <h2>
                    <b>Fortnite</b>
                </h2>
                <p>@8pm today</p>
            </div>
        </div>
        <div id="carddiv" class="card">
            <div class="card_container">
                <h2>
                    <b>Mad for Chicken</b>
                </h2>
                <p>@10pm tomorrow</p>
            </div>
            <div id="card_div">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.9386510393183!2d-73.80996268492704!3d40.76337404240854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c26025eb7cb8f9%3A0x487e3a231fb2d99e!2sMad+for+Chicken!5e0!3m2!1sen!2sus!4v1531174309194"
                    width="380px" height="200px" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>