<!-- Upcoming Events -->
<div class="event-group-label">
    <h1>Upcoming</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Fortnite</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Gaming</h6>
                        <p class="card-text">Squad up @8</p>
                        <a href="#" class="card-link" style="float:right;">Down?</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Fortnite</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Gaming</h6>
                        <p class="card-text">Squad up @8</p>
                        <a href="#" class="card-link" style="float:right;">Down?</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Fortnite</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Gaming</h6>
                        <p class="card-text">Squad up @8</p>
                        <a href="#" class="card-link" style="float:right;">Down?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Past Events -->
<div class="event-group-label">
    <h1>Past</h1>

</div>