<!-- Upcoming Events -->
<div class="event-group-label">
    <h1>Upcoming</h1>
    <div class="grid-container-down">
        <!-- Card 1 -->
        <div class="card bg-dark text-white" data-toggle="modal" data-target="#exampleModalCenter">
            <img class="card-img" src="/images/fortnite.jpg" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">Fortnite</h5>
                <p class="card-text">@8pm today</p>
                <div class="attendance">
                    <p>Down</p>
                    <div class="user-pfp-group">
                        <span style="color: green;">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <span style="color: red;">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <span style="color: orange;">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <span style="color:blueviolet;">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <span>+3</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Fortnite</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Where: @ 8pm tonight
                        <br> Who's going: Everyone
                        <br> Get lit at crates with the bois. Find a llama.
                    </div>
                </div>
            </div>
        </div>

        <div class="card bg-dark text-white">
            <img class="card-img" src="/images/fortnite.jpg" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">Fortnite</h5>
                <p class="card-text">@8pm today</p>
                <div class="attendance">
                    <p>Down</p>
                    <div class="user-pfp-group">
                        <span style="color: green;">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <span style="color: red;">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <span style="color: orange;">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <span style="color:blueviolet;">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <span>+3</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-dark text-white">
            <img class="card-img" src="/images/fortnite.jpg" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">Fortnite</h5>
                <p class="card-text">@8pm today</p>
                <div class="attendance">
                    <p>Down</p>
                    <div class="user-pfp-group">
                        <span style="color: green;">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <span style="color: red;">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <span style="color: orange;">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <span style="color:blueviolet;">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <span>+3</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Past Events -->
<div class="event-group-label">
    <h1>Past</h1>
    <div class="grid-container-down">
        <div class="card bg-dark text-white">
            <img class="card-img" src="/images/fortnite.jpg" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">Fortnite</h5>
                <p class="card-text">@8pm today</p>
                <div class="attendance">
                    <p>Down</p>
                    <div class="user-pfp-group">
                        <span style="color: green;">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <span style="color: red;">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <span style="color: orange;">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <span style="color:blueviolet;">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <span>+3</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-dark text-white">
            <img class="card-img" src="/images/fortnite.jpg" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">Fortnite</h5>
                <p class="card-text">@8pm today</p>
                <div class="attendance">
                    <p>Down</p>
                    <div class="user-pfp-group">
                        <span style="color: green;">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <span style="color: red;">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <span style="color: orange;">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <span style="color:blueviolet;">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <span>+3</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-dark text-white">
            <img class="card-img" src="/images/fortnite.jpg" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">Fortnite</h5>
                <p class="card-text">@8pm today</p>
                <div class="attendance">
                    <p>Down</p>
                    <div class="user-pfp-group">
                        <span style="color: green;">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <span style="color: red;">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <span style="color: orange;">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <span style="color:blueviolet;">
                            <i class="fas fa-user-circle"></i>
                        </span>
                        <span>+3</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>