<div class="modal-content">
    <form class="password-reset" action="/resetpass" method: "POST">
        <div class="grid-container">
            <h1 class="grid-item">Password Reset</h1>
            <!--   
                    Todo: Change class and format this error message appropriately. 
                    If there is an error, passport will capture it and connect-flash will display it.

                    {{#if error}}
                        <div class = "alert alert-danger">{{error}}</div>
                    {{/if}}
                -->

            <label class="grid-item" for="email">
                <b>Email</b>
            </label>
            <div class="grid-item">
                <input class="grid-item" type="text" placeholder="johndoe@gmail.com" name="email" required>
            </div>
            <div class="grid-item">
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>