<div class="grid-container-forgot-password">
    <form class="forgot-password-form-container" action="/resetpass" method: "POST">
        <h1 class="forgot-password-grid-item">Password Reset</h1>
        <!--   
                    Todo: Change class and format this error message appropriately. 
                    If there is an error, passport will capture it and connect-flash will display it.

                    {{#if error}}
                        <div class = "alert alert-danger">{{error}}</div>
                    {{/if}}
                -->
        <div class="forgot-password-grid-item">
            <label for="email">
                <b>Email</b>
                <input type="text" placeholder="johndoe@gmail.com" name="email" required>
            </label>
        </div>
        <button class="submit-button" type="submit">Submit</button>
    </form>
</div>