<div id="yuta_container">
    <a href="https://github.com/WiiDemBears/wdb-site">
        <img id="yuta" src="https://media1.tenor.com/images/bc57b07be4df1d6b3d5c02047f28fab1/tenor.gif?itemid=10550281" alt="Yuta Getting Lit">
    </a>
</div>