<div id="centerpiece" class=" container centered">
    <h1 class="display-3 animated slideInLeft">Under Construction</h1>
    <h1 class="display-6 animated slideInLeft">Yuta will keep you company till then</h1>
</div>

<!--Yuta-->
<a href="https://github.com/WiiDemBears/wiidembears.github.io">
    <img id="yuta" class="animated wobble" src="/images/yuta.png " alt="Yuta">
</a>