<!DOCTYPE html>
<html lang="en">

<head>
    <!--Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#1e2327">

    <!--Google Fonts, Ionicons, Animate.css, Local stylesheet -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    <script src="https://unpkg.com/ionicons@4.2.0/dist/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <link rel="stylesheet" type="text/css" href="/styles/login_form.css">

    <!--Favicon-->
    <link rel="icon" href="/images/favicon.ico">
    <title>Wii Dem Bears</title>
</head>

<body>
    <div class="site-container">
        <div class="site-pusher">

            <header class="header">

                <a href="#" class="header__icon" id="header__icon"></a>
                <a href="/" class="header__logo">WDB</a>

                {{#if user}}
                <nav class="menu">
                    <a href="/down">Down</a>
                    <a href="/quotes">Quotes</a>
                    <a href="/memes">Memes</a>
                    <a id="user_info" href="/logout">Logout</a>
                    <a id="user_info">Logged in as {{user.local.username}}</a>
                </nav>
                {{else}}
                <nav class="menu">
                    <a href="/down">Down</a>
                    <a href="/quotes">Quotes</a>
                    <a href="/memes">Memes</a>
                    <a id="user_info" href="/login">Login</a>
                </nav>
                {{/if}}
            </header>

            <div class="site-content">
                <div class="container">

                    {{{body}}}

                </div>
                <!-- END container -->
            </div>
            <!-- END site-content -->
            <div class="site-cache" id="site-cache"></div>
        </div>
        <!-- END site-pusher -->
    </div>
    <!-- END site-container -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/scripts/main.js "></script>
    <script src="/scripts/my_jquery.js "></script>
</body>

</html>