<div class="grid-container-login">
    <form class="form-container-login" action="/login" method="POST">
        <h1>Login</h1>
        {{#if flashMessage}}
        <div id="error_message" class="login-grid-item">{{flashMessage}}</div>
        {{/if}}
        <div class="login-grid-item">
            <label for="uname">
                <b>Username</b>
            </label>
        </div>

        <input type="text" placeholder="Bloshi" name="username" required>
        <div class="login-grid-item">
            <label for="psw">
                <b>Password</b>
            </label>
        </div>
        <input type="password" placeholder="Yuta123" name="password" required>
        <div id="forgotpass">
            <a href="/forgot-password">Forgot password?</a>
        </div>
        <div class="login-grid-item">
            <input type="checkbox" name="remember "> Keep me logged in
        </div>
        <button class="submit-button" type="submit">Login</button>
        <p>
            Don't have an account?
            <span>
                <a id="signup_link" href="/register">Sign Up</a>
            </span>
        </p>
    </form>
</div>