<div class="container-fluid h-100">
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="d-flex flex-column card " style="width: 22.5em; ">
            <div class="card-body">
                <form action="/login" method="POST">
                    <h1 class="text-center">Login</h1>
                    {{#if flashMessage}}
                    <div class="text-danger text-center">{{flashMessage}}</div>
                    {{/if}}
                    <div class="form-group">
                        <label for="uname">
                            <b>Username</b>
                        </label>
                        <input type="text" class="form-control" placeholder="Bloshi" name="username" required>
                    </div>
                    <label for="psw">
                        <b>Password</b>
                    </label>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Yuta123" name="password" required>
                    </div>
                    <div class="text-right" id="forgotpass">
                        <a href="/forgot-password">Forgot password?</a>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="remember "> Keep me logged in
                    </div>
                    <div class="form-group text-center">
                        <button class="submit-button " type="submit ">Login</button>
                    </div>
                    <div class="form-group text-center">
                        Don't have an account?
                        <span>
                            <a id="signup_link " href="/register ">Sign Up</a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>