<div class="account-form-content">
    <form class="form-login" action="/login" method="POST">
        <div class="grid-container-account-form">
            <div class="grid-item-account-form">
                <h1 class="btn">Login</h1>
            </div>
            {{#if error}}
            <div id="error_message" class="grid-item-account-form">{{error}}</div>
            {{/if}}
            <label class="grid-item-account-form" for="uname">
                <b>Username</b>
            </label>
            <div class="grid-item-account-form">
                <input class="grid-item-account-form" type="text" placeholder="Bloshi" name="username" required>
            </div>
            <label class="grid-item-account-form" for="psw">
                <b>Password</b>
            </label>
            <div class="grid-item-account-form">
                <input class="grid-item-account-form" type="password" placeholder="Yuta123" name="password" required>
            </div>
            <div id="forgotpass" class="grid-item-account-form">
                <a href="/forgot-password">Forgot password?</a>
            </div>
            <label class="grid-item-account-form" id="checkbox">
                <input type="checkbox" name="remember"> Remember me
            </label>
            <div class="grid-item-account-form">
                <button type="submit">Login</button>
            </div>
        </div>
        <div id="signup_link" class="grid-item-account-form">
            <p>Don't have an account?
                <span>
                    <a id="signup_link" href="/register">Sign Up</a>
                </span>
            </p>
        </div>
    </form>
</div>