<div class="grid-container-forgot-password">
    <form class="forgot-password-form-container" action="/forgot-password" method="POST">
        <h1 class="forgot-password-grid-item">Password Reset</h1>

        {{#if flashMessage}}
        <div>{{flashMessage}}</div>
        {{/if}}

        <div class="forgot-password-grid-item">
            <label for="email">
                <b>Email</b>
                <input type="email" placeholder="johndoe@gmail.com" name="email" required>
            </label>
        </div>
        <button class="submit-button" type="submit">Submit</button>
    </form>
</div>