body {
  font-family: "Karla", sans-serif;
  background-color: black;
}

label{
  color:white;
}

#yuta {
  position: absolute;
  top: 80%;
  right: 2%;
  width: 100px;
}

/*Centers item both horizontally and vertically*/
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#centerpiece {
  text-align: center;
  color: white;
}
