<style>
    .element {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
</style>
<div class="element" style="display:flex;justify-content:center;align-items:center;">Text Content</div>