<style>
    #profile-page {
        padding-top: 75px;
    }

    #pfp-container {
        text-align: center;
    }

    #pfp {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    #name {
        text-align: center;
        font-size: 32px;
    }

    .friends-list,
    .events-list {
        padding: 20px;
    }

    #friend-pfp {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    ul li {
        display: inline;
    }

    #card-container {
        width: 80%;
    }

    .events-list {
        text-align: center;
    }
</style>
<div id="profile-page" class="container">
    <div>
        <div id="pfp-container"><img id="pfp" src="/images/lambo.png"></div>
        <p id="name">Lambo San</p>
        <hr class="my-3">
        <div class="friends-list">
            <h1>Friends</h1>
            <ul class="list-inline">
                <li><img id="friend-pfp" src="/images/lambo.png"></li>
                <li><img id="friend-pfp" src="/images/lambo.png"></li>
                <li><img id="friend-pfp" src="/images/lambo.png"></li>
            </ul>
        </div>
        <div class="events-list">
            <h1>Events</h1>
            <ul>
                <li>
                    <div id="card-container">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Fortnite</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Gaming</h6>
                                <p class="card-text">Squad up @8</p>
                                <a href="#" class="card-link" style="float:right;">Down?</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>