body {
  font-family: "Karla", sans-serif;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

#yuta {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
}

/*Centers item both horizontally and vertically*/
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#centerpiece {
  text-align: center;
}

#login_button {
  font-size: 18px;
  margin-right: 20px;
  color: black;
  text-decoration: none;
}

#forgot_password {
  color: black;
}

#event_list {
  padding-top: 10px;
  background-color: inherit;
}

#fortnite_card {
  width: 350px;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

#fortnite_image {
  filter: brightness(50%);
}
