.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  transition: 0.3s;
  border-radius: 8px;
  margin-top: 20px;
  width: 75%; }
  .card:hover {
    box-shadow: 0 18px 32px 0 rgba(0, 0, 0, 0.2); }

.card-container {
  margin: 20px;
  padding-bottom: 20px; }

.card-panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; }

.attendance {
  padding-bottom: 15px;
  float: right; }
  .attendance p {
    font-weight: bold;
    text-decoration: underline; }

#body {
  text-align: center;
  margin-top: 10%; }

@media screen and (max-width: 600px) {
  #yuta {
    margin-top: 30%;
    height: 200px;
    width: auto; } }
.topnav {
  overflow: hidden; }
  .topnav #login_button {
    float: right;
    cursor: pointer; }
  .topnav #user_info {
    float: right;
    cursor: default; }
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; }
  .topnav .icon {
    display: none; }

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none; }

  .topnav a.icon {
    float: right;
    display: block; }

  .topnav.responsive {
    position: relative; }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0; }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left; }

  .topnav #login_button {
    float: none; }

  #yuta {
    margin-top: 30%;
    height: 200px;
    width: auto; } }
.grid-container-down {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-items: center; }

.upcoming-label {
  padding: 1% 5% 5% 5%; }
  .upcoming-label hr {
    border-top: 1px solid white; }

@media only screen and (max-width: 800px) {
  .grid-container-down {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center; } }
.account-form-content {
  background-color: #ffffff;
  margin: 2% auto 5% auto;
  /* 5% from the top, 5% from the bottom and centered */
  width: 400px;
  /* Could be more or less, depending on screen size */
  border-radius: 10px; }

.grid-container-account-form {
  display: grid;
  grid-template-columns: auto;
  padding: 8px;
  /* Set a style for login/signup forms */ }
  .grid-container-account-form input {
    text-align: left; }
  .grid-container-account-form label {
    text-align: left;
    padding-left: 20px; }
  .grid-container-account-form #forgotpass {
    text-align: right;
    padding-right: 25px; }
  .grid-container-account-form button {
    background: linear-gradient(to right, #514a9d, #24c6dc);
    padding: 14px 20px;
    color: white;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 50px; }
    .grid-container-account-form button:hover {
      opacity: 0.8; }

.grid-item-account-form {
  text-align: center;
  padding: 5px; }

/* Input fields */
input[type="text"],
input[type="password"] {
  width: 80%;
  border: 0;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: inset 0 -1px #b3b3b3;
  outline: white; }

#error_message {
  color: red; }

@media only screen and (max-width: 600px) {
  .account-form-content {
    width: 80%;
    margin-top: 10%; }

  .grid-container-account-form button {
    width: 50%; }
  .grid-container-account-form #forgotpass {
    padding-right: 15px; }
  .grid-container-account-form #signup_link {
    padding: 0 0 10px 0; } }
body {
  font-family: "Karla", sans-serif;
  background: #24c6dc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #514a9d, #24c6dc);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #514a9d, #24c6dc);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

/*# sourceMappingURL=main.css.map */
