body {font-family: 'Roboto', sans-serif;}
body {font-size:95%}
#nav{
	font-size:106%;
	font-weight:300;
	list-style:none;
	opacity:0.92;
	background-color:white;
	position:fixed;
	top:0px;
	padding:7px;
	margin-top:0px;
	right:2px;
	float:left;
	height:37px;
	width:100%;
	z-index:4;
}
#nav li{
	float:right;
	margin-right:20px;
	position:relative;
}
#nav a{
	display:block;
	padding:7px;
	text-decoration:none;
}

#nav a:link{
	color:black
}

#nav a:visited{
	color:black
}

#nav a:active{
	color:black
}