.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  transition: 0.3s;
  border-radius: 8px;
  margin-top: 20px;
  &:hover {
    box-shadow: 0 18px 32px 0 rgba(0, 0, 0, 0.2);
  }
  width: 75%;
}

.card-container {
  margin: 20px;
  padding-bottom: 20px;
}

.card-panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.pfp {
  .dot {
    height: 25px;
    width: 25px;
    background-image: url("/images/fortnite.jpg");
    border-radius: 50%;
    float: right;
    margin-left: 5px;
  }
}
