.grid-container-card {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-auto-rows: 200px;
  grid-gap: 20px;
  justify-content: center;
}

.grid-item-card {
  padding: 5px;
}

.card {
  box-shadow: $box-shadow-color;
  background-color: white;
  transition: 0.3s;
  border-radius: 8px;
  margin-top: 20px;
  &:hover {
    box-shadow: $box-shadow-hover-color;
  }
}

.card-container {
  padding: 2px 16px;
}

.card-panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.pfp {
  .dot {
    height: 25px;
    width: 25px;
    background-image: url("/images/fortnite.jpg");
    border-radius: 50%;
    float: right;
    margin-left: 5px;
  }
}

//Media Queries
@media only screen and (max-width: 800px) {
  .grid-container-card {
    display: grid;
    grid-template-columns: 300px;
    grid-auto-rows: 135px;
    grid-gap: 20px;
    justify-content: center;
  }
}

@media only screen and (min-width: 750px) {
  .grid-container-card {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-auto-rows: 200px;
    grid-gap: 20px;
    justify-content: center;
  }
}
